DataFrame.add(other, axis='columns', level=None, fill_value=None)</br>

other : 데이터프레임이나, Series, 스칼라 등 데이터가 올 수 있습니다. 더할 값입니다.</br>
axis : 더할 레이블을 설정합니다. 0은 행(index), 1은 열 입니다. ※Series일 경우 Index와 일치시킬 축</br>
level : multiIndex에서 계산할 Index의 레벨입니다.</br>
fill_value : NaN 값등의 누락 요소를 계산 전에 이 값으로 대체합니다.</br>

In [4]:
import pandas as pd

data = [[1,10,100],[2,20,200],[3,30,300]]
col = ['col1','col2','col3']
row = ['row1','row2','row3']
df = pd.DataFrame(data=data,index=row,columns=col)
print(df)

      col1  col2  col3
row1     1    10   100
row2     2    20   200
row3     3    30   300

In [6]:
result = df.add(1)
print(result)

      col1  col2  col3
row1     2    11   101
row2     3    21   201
row3     4    31   301

In [8]:
result = df+1
print(result)

      col1  col2  col3
row1     2    11   101
row2     3    21   201
row3     4    31   301

In [11]:
data2  = [[3],[4],[5]]
df2 = pd.DataFrame(data=data2,index=['row1','row2','row3'],columns=['col1'])
print(df2)

      col1
row1     3
row2     4
row3     5

In [13]:
result = df.add(df2)
print(result)

      col1  col2  col3
row1     4   NaN   NaN
row2     6   NaN   NaN
row3     8   NaN   NaN

In [29]:
result = df.add(df2,fill_value=0)
print(result)

      col1  col2   col3
row1     4  10.0  100.0
row2     6  20.0  200.0
row3     8  30.0  300.0

DataFrame.sub(other, axis='columns', level=None, fill_value=None)</br>
DataFrame.rsub(other, axis='columns', level=None, fill_value=None)</br>

*rsub의 경우 sub의 경우에서 순서만 바꾼것입니다. 즉 sub가 'df-df2'라면 rsub는 'df2-df'입니다.
other : 데이터프레임이나, Series, 스칼라 등 데이터가 올 수 있습니다. 뺄 값입니다.</br>
axis : 뺄 레이블을 설정합니다. 0은 행(index), 1은 열 입니다. ※Series일 경우 Index와 일치시킬 축</br>
level : multiIndex에서 계산할 Index의 레벨입니다.</br>
fill_value : NaN 값등의 누락 요소를 계산 전에 이 값으로 대체합니다.</br>

In [20]:
data = [[1,10,100],[2,20,200],[3,30,300]]
col = ['col1','col2','col3']
row = ['row1','row2','row3']
df = pd.DataFrame(data=data,index=row,columns=col)
print(df)

      col1  col2  col3
row1     1    10   100
row2     2    20   200
row3     3    30   300

In [22]:
result = df.sub(1)
print(result)

      col1  col2  col3
row1     0     9    99
row2     1    19   199
row3     2    29   299

In [24]:
result = df-1
print(result)

      col1  col2  col3
row1     0     9    99
row2     1    19   199
row3     2    29   299

In [26]:
data2  = [[3],[4],[5]]
df2 = pd.DataFrame(data=data2,index=['row1','row2','row3'],columns=['col1'])

In [27]:
result = df.sub(df2)
print(result)

      col1  col2  col3
row1    -2   NaN   NaN
row2    -2   NaN   NaN
row3    -2   NaN   NaN

In [ ]:
result = df.sub(df2,fill_value=0)
print(result)

DataFrame.mul(other, axis='columns', level=None, fill_value=None)</br>
DataFrame.rmul(other, axis='columns', level=None, fill_value=None)</br>

other : 데이터프레임이나, Series, 스칼라 등 데이터가 올 수 있습니다. 곱할 값입니다.</br>
axis : 곱할 레이블을 설정합니다. 0은 행(index), 1은 열 입니다. ※Series일 경우 Index와 일치시킬 축</br>
level : multiIndex에서 계산할 Index의 레벨입니다.</br>
fill_value : NaN 값등의 누락 요소를 계산 전에 이 값으로 대체합니다.</br>

In [33]:
data = [[1,10,100],[2,20,200],[3,30,300]]
col = ['col1','col2','col3']
row = ['row1','row2','row3']

df = pd.DataFrame(data=data, index = row, columns = col)
print(df)

      col1  col2  col3
row1     1    10   100
row2     2    20   200
row3     3    30   300

In [35]:
result = df.mul(2)
print(result)

      col1  col2  col3
row1     2    20   200
row2     4    40   400
row3     6    60   600

In [39]:
result = df * 2
print(result)

      col1  col2  col3
row1     2    20   200
row2     4    40   400
row3     6    60   600

In [41]:
data2  = [[3],[4],[5]]
df1 = pd.DataFrame(data=data2, index = ['row1','row2','row3'], columns = ['col1'])

result = df.mul(df2, fill_value = 0)
print(result)

      col1  col2  col3
row1     3   0.0   0.0
row2     8   0.0   0.0
row3    15   0.0   0.0

DataFrame.div(other, axis='columns', level=None, fill_value=None)</br>
DataFrame.rdiv(other, axis='columns', level=None, fill_value=None)</br>

other : 데이터프레임이나, Series, 스칼라 등 데이터가 올 수 있습니다. 나눌값입니다.</br>
axis : 나눌 레이블을 설정합니다. 0은 행(index), 1은 열 입니다. ※Series일 경우 Index와 일치시킬 축</br>
level : multiIndex에서 계산할 Index의 레벨입니다.</br>
fill_value : NaN 값등의 누락 요소를 계산 전에 이 값으로 대체합니다.</br>

In [43]:
data = [[1,10,100],[2,20,200],[3,30,300]]
col = ['col1','col2','col3']
row = ['row1','row2','row3']
df = pd.DataFrame(data=data,index=row,columns=col)
print(df)

      col1  col2  col3
row1     1    10   100
row2     2    20   200
row3     3    30   300

In [44]:
result = df.div(2)
print(result)

      col1  col2   col3
row1   0.5   5.0   50.0
row2   1.0  10.0  100.0
row3   1.5  15.0  150.0

In [46]:
result = df/2
print(result)

      col1  col2   col3
row1   0.5   5.0   50.0
row2   1.0  10.0  100.0
row3   1.5  15.0  150.0

In [47]:
data2  = [[0],[2],[3]]
df2 = pd.DataFrame(data=data2,index=['row1','row2','row3'],columns=['col1'])
print(df2)

      col1
row1     0
row2     2
row3     3

In [48]:
result = df.div(df2)
print(result)

      col1  col2  col3
row1   inf   NaN   NaN
row2   1.0   NaN   NaN
row3   1.0   NaN   NaN

In [49]:
result = df.div(df2,fill_value=1)
print(result)

      col1  col2   col3
row1   inf  10.0  100.0
row2   1.0  20.0  200.0
row3   1.0  30.0  300.0

DataFrame.mod(other, axis='columns', level=None, fill_value=None)</br>
DataFrame.rmod(other, axis='columns', level=None, fill_value=None)</br>

other : 데이터프레임이나, Series, 스칼라 등 데이터가 올 수 있습니다. 나눌값입니다.</br>
axis : 나눌 레이블을 설정합니다. 0은 행(index), 1은 열 입니다. ※Series일 경우 Index와 일치시킬 축</br>
level : multiIndex에서 계산할 Index의 레벨입니다.</br>
fill_value : NaN 값등의 누락 요소를 계산 전에 이 값으로 대체합니다.</br>

In [52]:
data = [[1,2,3],[4,5,6],[7,8,9]]
col = ['col1','col2','col3']
row = ['row1','row2','row3']
df = pd.DataFrame(data=data,index=row,columns=col)
print(df)

      col1  col2  col3
row1     1     2     3
row2     4     5     6
row3     7     8     9

In [53]:
result = df.mod(7)
print(result)

      col1  col2  col3
row1     1     2     3
row2     4     5     6
row3     0     1     2

In [54]:
result = df%7
print(result)

      col1  col2  col3
row1     1     2     3
row2     4     5     6
row3     0     1     2

In [55]:
data2  = [[2],[3],[5]]
df2 = pd.DataFrame(data=data2,index=['row1','row2','row3'],columns=['col1'])
print(df2)

      col1
row1     2
row2     3
row3     5

In [56]:
result = df.mod(df2)
print(result)

      col1  col2  col3
row1     1   NaN   NaN
row2     1   NaN   NaN
row3     2   NaN   NaN

In [57]:
result = df.mod(df2,fill_value=1)
print(result)

      col1  col2  col3
row1     1   0.0   0.0
row2     1   0.0   0.0
row3     2   0.0   0.0

DataFrame.pow(other, axis='columns', level=None, fill_value=None)</br>
DataFrame.rpow(other, axis='columns', level=None, fill_value=None)</br>

other : 데이터프레임이나, Series, 스칼라 등 데이터가 올 수 있습니다. 제곱할 값입니다.</br>
axis : 제곱할 레이블을 설정합니다. 0은 행(index), 1은 열 입니다. ※Series일 경우 Index와 일치시킬 축</br>
level : multiIndex에서 계산할 Index의 레벨입니다.</br>
fill_value : NaN 값등의 누락 요소를 계산 전에 이 값으로 대체합니다.</br>

In [59]:
data = [[1,2,3],[4,5,6],[7,8,9]]
col = ['col1','col2','col3']
row = ['row1','row2','row3']
df = pd.DataFrame(data=data,index=row,columns=col)
print(df)

      col1  col2  col3
row1     1     2     3
row2     4     5     6
row3     7     8     9

In [60]:
result = df.pow(3)
print(result)

      col1  col2  col3
row1     1     8    27
row2    64   125   216
row3   343   512   729

In [61]:
result = df**3
print(result)

      col1  col2  col3
row1     1     8    27
row2    64   125   216
row3   343   512   729

In [62]:
data2  = [[0],[3],[5]]
df2 = pd.DataFrame(data=data2,index=['row1','row2','row3'],columns=['col1'])
print(df2)

      col1
row1     0
row2     3
row3     5

In [63]:
result = df.pow(df2)
print(result)

       col1  col2  col3
row1      1   NaN   NaN
row2     64   NaN   NaN
row3  16807   NaN   NaN

In [64]:
result = df.pow(df2,fill_value=0)
print(result)

       col1  col2  col3
row1      1   1.0   1.0
row2     64   1.0   1.0
row3  16807   1.0   1.0

DataFrame.dot(other)
other : Series, DataFrame, 배열 등이 올 수 있습니다.

In [68]:
col = ['col1','col2']
row = ['row1','row2']
data1 = [[1,2],[3,4]]
data2 = [[5,6],[7,8]]
df1 = pd.DataFrame(data=data1)
df2 = pd.DataFrame(data=data2)
print(df1)
print(df2)

   0  1
0  1  2
1  3  4
   0  1
0  5  6
1  7  8

In [69]:
df3 = df1.dot(df2)
print(df3)

    0   1
0  19  22
1  43  50