DataFrame.round(decimals=0, args, kwargs) decimals : 소수 n번째 자리 '까지' 반올림을 합니다. 만약 음수면 10의 n승 자리 까지 반올림 합니다.

In [3]:
import pandas as pd
import numpy as np

col = ['col1','col2','col3']
row = ['row1','row2','row3']
data = np.random.rand(3,3)*100
df = pd.DataFrame(data=data, index=row, columns=col)
print(df)

           col1       col2       col3
row1  76.727571  64.586728  45.280388
row2  45.846191  32.778560  81.286068
row3  89.108957  26.198090  99.963644

In [4]:
print(df.round(0))

      col1  col2   col3
row1  77.0  65.0   45.0
row2  46.0  33.0   81.0
row3  89.0  26.0  100.0

In [6]:
print(df.round(1))

      col1  col2   col3
row1  76.7  64.6   45.3
row2  45.8  32.8   81.3
row3  89.1  26.2  100.0

In [8]:
print(df.round(-1))

      col1  col2   col3
row1  80.0  60.0   50.0
row2  50.0  30.0   80.0
row3  90.0  30.0  100.0

DataFrame.sum(axis=None, skipna=None, level=None, numeric_only=None, min_count=0, kwargs)</br>

axis : { 0 : 행 / 1 : 열} 더할 레이블을 선택합니다.</br>
skipna : {True or False} Na가 존재할 경우 무시할지의 여부입니다. 기본값은 True입니다.</br>
level : Multi Index일 경우 레벨을 설정합니다.</br>
numeric_only : 숫자 데이터만 사용할지의 여부 입니다.</br>
min_count : 계산에 필요한 숫자의 최소 갯수입니다.</br>

In [10]:
col = ['col1','col2','col3']
row = ['row1','row2','row3']
data = [[1,2,3],[4,5,6],[7,np.NaN,9]]
df = pd.DataFrame(data=data,index=row,columns=col)
print(df)

      col1  col2  col3
row1     1   2.0     3
row2     4   5.0     6
row3     7   NaN     9

In [14]:
print(df.sum(axis=0))
print(df.sum(axis=1))

col1    12.0
col2     7.0
col3    18.0
dtype: float64
row1     6.0
row2    15.0
row3    16.0
dtype: float64

In [17]:
print(df.sum(axis=0,skipna=False))

col1    12.0
col2     NaN
col3    18.0
dtype: float64

In [19]:
print(df.sum(axis=1,min_count=3))

row1     6.0
row2    15.0
row3     NaN
dtype: float64

DataFrame.prod(axis=None, skipna=None, level=None, numeric_only=None, min_count=0, kwargs)</br>
DataFrame.product(axis=None, skipna=None, level=None, numeric_only=None, min_count=0, kwargs)</br>

axis : { 0 : 행 / 1 : 열} 곱할 레이블을 선택합니다.</br>
skipna : {True or False} Na가 존재할 경우 무시할지의 여부입니다. 기본값은 True입니다.</br>
level : Multi Index일 경우 레벨을 설정합니다.</br>
numeric_only : 숫자 데이터만 사용할지의 여부 입니다.</br>
min_count : 계산에 필요한 숫자의 최소 갯수입니다.</br>

In [21]:
col = ['col1','col2','col3']
row = ['row1','row2','row3']
data = [[1,2,3],[4,5,6],[7,np.NaN,9]]
df = pd.DataFrame(data=data,index=row,columns=col)
print(df)

      col1  col2  col3
row1     1   2.0     3
row2     4   5.0     6
row3     7   NaN     9

In [23]:
print(df.prod(axis=0))

col1     28.0
col2     10.0
col3    162.0
dtype: float64

In [25]:
print(df.prod(axis=1))

row1      6.0
row2    120.0
row3     63.0
dtype: float64

In [26]:
print(df.prod(axis=0, skipna=False))

col1     28.0
col2      NaN
col3    162.0
dtype: float64

In [28]:
print(df.prod(axis=1, min_count=3))

row1      6.0
row2    120.0
row3      NaN
dtype: float64

DataFrame.abs( )
abs메서드는 각 요소의 절댓값을 반환하는 메서드입니다.

In [30]:
col = ['col1','col2','col3']
row = ['row1','row2','row3']
data = [[-1,2,-3.5],[4,-5.5, 3+4j],[7,np.NaN,0]]
df = pd.DataFrame(data=data,index=row,columns=col)
print(df)

      col1  col2      col3
row1    -1   2.0 -3.5+0.0j
row2     4  -5.5  3.0+4.0j
row3     7   NaN  0.0+0.0j

In [32]:
print(df.abs( ))

      col1  col2  col3
row1     1   2.0   3.5
row2     4   5.5   5.0
row3     7   NaN   0.0

DataFrame.transpose(args, copy=False)</br>
DataFrame.T(args, copy=False)</br>

copy : 사본을 반환할지 여부입니다. 여러 dtype으로 이루어진 경우 자동으로 True가 됩니다.

transpose 메서드는 Dataframe객체를 전치 하는 메서드입니다.</br>
만약 (n,m)짜리 DataFrame이라면 (0,0) 부터 (n,m)을 연결하는 대각선을 중심으로 뒤집는것과 같습니다.</br>
※ T 메서드는 transpose 메서드와 동일합니다.</br>

In [34]:
col = ['col1','col2','col3']
row = ['row1','row2','row3','row4']
data = [['A',1,2],['B',3,4],['C',5,6],['D',7,8]]
df = pd.DataFrame(data=data,index=row,columns=col)
print(df)

     col1  col2  col3
row1    A     1     2
row2    B     3     4
row3    C     5     6
row4    D     7     8

In [36]:
print(df.transpose())

     row1 row2 row3 row4
col1    A    B    C    D
col2    1    3    5    7
col3    2    4    6    8

DataFrame.rank(axis=0, method='average', numeric_only=None, na_option='keep', ascending=True, pct=False)</br>

axis : {0 : index / 1 : columns} 순위를 매길 레이블입니다.</br>
method : {'average' / 'min' / 'max' / 'first' / 'dense'} 동순위 일때 처리 방법입니다.</br>
average는 평균, min은 낮은순위, max는 높은순위, first는 나타나는순서대로</br>
dense의 경우는 min과 같지만 그룹간 순위는 항상 1씩 증가합니다.</br>
numeric_only : {True / False} 숫자만 순위를 매길지 여부 입니다.</br>
na_option : {'keep' / 'top' / 'bottom'} NaN값의 처리 방법입니다.</br>
keep의 경우 NaN순위 할당, top의 경우 낮은순위 할당, bottom의 경우 높은 순위를 할당합니다.</br>
ascending : {True / False} 오름차순으로 할지의 여부 입니다.</br>
pct : {True / False} 순위를 백분위수형식으로 할지 여부입니다.</br>

In [39]:
data = [[5],[5],[pd.NA],[3],[-3.1],[5],[0.4],[6.7],[3]]
row = ['A★','B★','C','D☆','E','F★','G','H','I☆']
df = pd.DataFrame(data=data, index=row, columns=['Value'])
print(df)

   Value
A★     5
B★     5
C   <NA>
D☆     3
E   -3.1
F★     5
G    0.4
H    6.7
I☆     3

average : D와 I의 경우 각각 3등 4등이기때문에 3.5 출력</br>
min : A, B, F의 경우 각각 5등 6등 7등으로 가장 낮은등수인 5 출력</br>
max : A, B, F의 경우 각각 5등 6등 7등으로 가장 높등수인 7 출력</br>
first : 동점일경우 위에서부터 매김 D와 I 각각 3등 4등</br>
dense : min처럼 동작하지만 등수가 순차적으로 증가</br>

In [42]:
df['average']=df['Value'].rank(method='average')
df['min']=df['Value'].rank(method='min')
df['max']=df['Value'].rank(method='max')
df['first']=df['Value'].rank(method='first')
df['dense']=df['Value'].rank(method='dense')
print(df)

   Value  average  min  max  first  dense
A★     5      6.0  5.0  7.0    5.0    4.0
B★     5      6.0  5.0  7.0    6.0    4.0
C   <NA>      NaN  NaN  NaN    NaN    NaN
D☆     3      3.5  3.0  4.0    3.0    3.0
E   -3.1      1.0  1.0  1.0    1.0    1.0
F★     5      6.0  5.0  7.0    7.0    4.0
G    0.4      2.0  2.0  2.0    2.0    2.0
H    6.7      8.0  8.0  8.0    8.0    5.0
I☆     3      3.5  3.0  4.0    4.0    3.0

keep : Na요소에 NaN을 부여하여 그대로 둡니다.</br>
top : Na에게 가장 높은 순위를 부여합니다. 1등이 된것을 볼 수 있습니다.</br>
bottom : Na에게 가장 높은 순위를 부여합니다. 9등이 된것을 볼 수 있습니다.</br>
pct : True일 경우 백분위수로 표시합니다.</br>

In [45]:
df['keep']=df['Value'].rank(na_option='keep')
df['top']=df['Value'].rank(na_option='top')
df['bottom']=df['Value'].rank(na_option='bottom')
df['pct']=df['Value'].rank(pct=True)
print(df)

   Value  average  min  max  first  dense  keep  top  bottom     pct
A★     5      6.0  5.0  7.0    5.0    4.0   6.0  7.0     6.0  0.7500
B★     5      6.0  5.0  7.0    6.0    4.0   6.0  7.0     6.0  0.7500
C   <NA>      NaN  NaN  NaN    NaN    NaN   NaN  1.0     9.0     NaN
D☆     3      3.5  3.0  4.0    3.0    3.0   3.5  4.5     3.5  0.4375
E   -3.1      1.0  1.0  1.0    1.0    1.0   1.0  2.0     1.0  0.1250
F★     5      6.0  5.0  7.0    7.0    4.0   6.0  7.0     6.0  0.7500
G    0.4      2.0  2.0  2.0    2.0    2.0   2.0  3.0     2.0  0.2500
H    6.7      8.0  8.0  8.0    8.0    5.0   8.0  9.0     8.0  1.0000
I☆     3      3.5  3.0  4.0    4.0    3.0   3.5  4.5     3.5  0.4375

DataFrame.diff(periods=1, axis=0)</br>
axis : 비교할 축을 지정합니다. axis=0 인 경우 행끼리 비교하고 axis=1인 경우 열 끼리 비교합니다.</br>
periods : 비교할 간격을 지정합니다. 기본은 +1로 바로 이전 값과 비교합니다.</br>

In [47]:
a = [1,2,3,4,5,6,7,8]
b = [1,2,4,8,16,32,64,128]
c = [8,7,6,5,4,3,2,1]
data = {"col1":a,"col2":b,"col3":c}
df = pd.DataFrame(data)
print(df)

   col1  col2  col3
0     1     1     8
1     2     2     7
2     3     4     6
3     4     8     5
4     5    16     4
5     6    32     3
6     7    64     2
7     8   128     1

In [49]:
print(df.diff(axis=0))

   col1  col2  col3
0   NaN   NaN   NaN
1   1.0   1.0  -1.0
2   1.0   2.0  -1.0
3   1.0   4.0  -1.0
4   1.0   8.0  -1.0
5   1.0  16.0  -1.0
6   1.0  32.0  -1.0
7   1.0  64.0  -1.0

In [52]:
print(df.diff(axis=1))

   col1  col2  col3
0   NaN     0     7
1   NaN     0     5
2   NaN     1     2
3   NaN     4    -3
4   NaN    11   -12
5   NaN    26   -29
6   NaN    57   -62
7   NaN   120  -127

In [55]:
print(df.diff(periods=3))

   col1   col2  col3
0   NaN    NaN   NaN
1   NaN    NaN   NaN
2   NaN    NaN   NaN
3   3.0    7.0  -3.0
4   3.0   14.0  -3.0
5   3.0   28.0  -3.0
6   3.0   56.0  -3.0
7   3.0  112.0  -3.0

In [57]:
print(df.diff(periods=-2))

   col1  col2  col3
0  -2.0  -3.0   2.0
1  -2.0  -6.0   2.0
2  -2.0 -12.0   2.0
3  -2.0 -24.0   2.0
4  -2.0 -48.0   2.0
5  -2.0 -96.0   2.0
6   NaN   NaN   NaN
7   NaN   NaN   NaN

DataFrame.pct_change(periods=1, fill_method='pad', limit=None, freq=None, kwargs)

pct_change는 한 객체 내에서 행과 행의 차이를 현재값과의 백분율로 출력하는 메서드 입니다.</br>
즉, (다음행 - 현재행)÷현재행 을 의미합니다.</br>

periods : 비교할 간격을 지정합니다. 기본은 +1로 바로 이전 값과 비교합니다.</br>
fill_method : {ffill : 앞의 값으로 채움 / bfill : 뒤의 값으로 채움} 결측치를 대체할 값입니다.</br>
limit : 결측값을 몇개나 대체할지 정할 수 있습니다.</br>
freq : 시계열 API에서 사용할 증분을 지정합니다. (예: 'M' 또는 BDay( ))</br>

In [61]:
a = [1,1,4,4,1,1]
b = [1,2,4,8,16,32]
c = [1,np.NaN,np.NaN,np.NaN,16,64]
data = {"col1":a,"col2":b,"col3":c}
df = pd.DataFrame(data)
print(df)

   col1  col2  col3
0     1     1   1.0
1     1     2   NaN
2     4     4   NaN
3     4     8   NaN
4     1    16  16.0
5     1    32  64.0

In [63]:
print(df.pct_change())

   col1  col2  col3
0   NaN   NaN   NaN
1  0.00   1.0   0.0
2  3.00   1.0   0.0
3  0.00   1.0   0.0
4 -0.75   1.0  15.0
5  0.00   1.0   3.0

In [66]:
print(df.pct_change(periods=2))

   col1  col2  col3
0   NaN   NaN   NaN
1   NaN   NaN   NaN
2  3.00   3.0   0.0
3  3.00   3.0   0.0
4 -0.75   3.0  15.0
5 -0.75   3.0  63.0

In [68]:
print(df.pct_change(periods=-1))

   col1  col2    col3
0  0.00  -0.5  0.0000
1 -0.75  -0.5  0.0000
2  0.00  -0.5  0.0000
3  3.00  -0.5 -0.9375
4  0.00  -0.5 -0.7500
5   NaN   NaN     NaN

fill_method인수는 결측치를 대체할 값을 지정할 수 있습니다.</br>
fill_method='ffill'인 경우는 기본값으로 바로 윗값으로 결측치를 대체합니다.</br>
fill_method='bfill'인 경우는 바로 아랫값으로 결측치를 대체합니다.</br>

In [71]:
print(df.pct_change(fill_method='bfill'))

   col1  col2  col3
0   NaN   NaN   NaN
1  0.00   1.0  15.0
2  3.00   1.0   0.0
3  0.00   1.0   0.0
4 -0.75   1.0   0.0
5  0.00   1.0   3.0

limit인수는 결측치를 몇개까지 대체할지 지정합니다.

In [73]:
print(df.pct_change(limit=2))

   col1  col2  col3
0   NaN   NaN   NaN
1  0.00   1.0   0.0
2  3.00   1.0   0.0
3  0.00   1.0   NaN
4 -0.75   1.0   NaN
5  0.00   1.0   3.0

DataFrame.expanding(min_periods=1, center=None, axis=0, method='single')

min_periods : 연산을 수행할 요소의 최소 갯수입니다. 이보다 작으면 NaN을 출력합니다.</br>
center : 미사용</br>
axis : 누적 연산을 수행할 축을 지정합니다.</br>
method : {single / table} 연산을 한 줄씩 수행할지 아니면 전체 테이블에 대해서 롤링을 수행할지 여부입니다.</br>
기본값은 'singl'로 한 줄씩 연산을 수행합니다. 'table'을 사용하기 위해서는 numba 라이브러리가 설치되어있어야 하며,
추가 연산 메서드에서 engine=numba로 설정해주어야 합니다.</br>

In [77]:
data = {'col1':[1,2,3,4],'col2':[3,7,5,6]}
idx = ['row1','row2','row3','row4']
df = pd.DataFrame(data = data, index = idx)
print(df)

      col1  col2
row1     1     3
row2     2     7
row3     3     5
row4     4     6

In [80]:
print(df.expanding().sum())

      col1  col2
row1   1.0   3.0
row2   3.0  10.0
row3   6.0  15.0
row4  10.0  21.0

In [82]:
print(df.expanding(min_periods=4).sum())

      col1  col2
row1   NaN   NaN
row2   NaN   NaN
row3   NaN   NaN
row4  10.0  21.0

In [84]:
print(df.expanding(axis=1).sum())

      col1  col2
row1   1.0   4.0
row2   2.0   9.0
row3   3.0   8.0
row4   4.0  10.0

In [88]:
#Numba는 파이썬 코드를 LLVM컴파일러를 이용해 머신코드로 바꾸어 수치연산을 가속해주는 라이브러리입니다.
import numba
print(df.expanding(method='table').sum(engine='numba'))

      col1  col2
row1   1.0   3.0
row2   3.0  10.0
row3   6.0  15.0
row4  10.0  21.0

DataFrame.rolling(window, min_periods=None, center=False, win_type=None, on=None, axis=0, closed=None, method='single')

window : 계산할 창(window)의 크기 입니다. 열 기준으로 계산할 경우 행의 수입니다.</br>
min_periods : 계산할 최소 크기(기간) 입니다. window 안의 값의 수가 min_periods의 값보다 작을경우 NaN을 출력합니다.</br>
기본적으로 window 크기와 동일합니다.</br>
center : {True / False} 레이블을 window의 중간에 둘지 여부입니다. 기본값은 False로 레이블이 창 우측에 위치합니다.</br>
win_type : {'triang' / 'gaussian' / ...} 가중치를 넣어 계산할 경우 계산 방식 입니다. 때에따라 연산 메서드에 추가 인수를 지정해야할수도 있습니다.</br>
on : 시계열 인덱스나, 시계열과 유사한 열이 있을 경우 이 열을 기준으로 rolling을 수행할 수 있습니다.</br>
axis : 계산의 기준이 될 축입니다.</br>
closed : {'left' / 'right' / 'both' / 'neither'} window가 닫히는 방향입니다. 자세한건 아래 예시 참고바랍니다</br>
method :{'single' / 'table'} numba 를 이용하여 테이블 계산을 진행하여 속도를 높힐지 여부입니다. 현재 'single'만 사용가능합니다.</br>
※ method 인수의 numba 사용은 02-09 누적계산(expending)에서 자세히 다루고 있습니다.

In [91]:
period = pd.period_range(start='2022-01-13 00:00:00',end='2022-01-13 02:30:00',freq='30T')
data = {'col1':[1,2,3,4,5,6],'col2':period}
idx = ['row1','row2','row3','row4','row5','row6']
df = pd.DataFrame(data= data, index = idx)
print(df)

      col1              col2
row1     1  2022-01-13 00:00
row2     2  2022-01-13 00:30
row3     3  2022-01-13 01:00
row4     4  2022-01-13 01:30
row5     5  2022-01-13 02:00
row6     6  2022-01-13 02:30

In [ ]:
print(df.rolling(window=3).sum())

left : 3 ≤ x < 6</br>
right : 3 < x ≤ 6</br>
both : 3 ≤ x ≤ 6</br>
neither : 3 < x < 6</br>

In [95]:
print(df.rolling(window=3, closed='left').sum())

      col1
row1   NaN
row2   NaN
row3   NaN
row4   6.0
row5   9.0
row6  12.0

In [97]:
print(df.rolling(window=3, closed='right').sum())

      col1
row1   NaN
row2   NaN
row3   6.0
row4   9.0
row5  12.0
row6  15.0

In [98]:
print(df.rolling(window=3, closed='both').sum())

      col1
row1   NaN
row2   NaN
row3   6.0
row4  10.0
row5  14.0
row6  18.0

In [99]:
print(df.rolling(window=3, closed='neither').sum())

      col1
row1   NaN
row2   NaN
row3   NaN
row4   NaN
row5   NaN
row6   NaN

In [102]:
print(df.rolling(window=3, closed='neither',min_periods=2).sum())

      col1
row1   NaN
row2   NaN
row3   3.0
row4   5.0
row5   7.0
row6   9.0

In [103]:
#win_type을 지정할 경우 가중치를 주며 계산을 할 수 있습니다.
print(df.rolling(window=3, win_type='triang').sum())

      col1
row1   NaN
row2   NaN
row3   4.0
row4   6.0
row5   8.0
row6  10.0

In [105]:
print(df.rolling(window=3, win_type='gaussian').sum(std=3))

           col1
row1        NaN
row2        NaN
row3   5.783838
row4   8.675757
row5  11.567676
row6  14.459595