### 04-01. 레이블기반_스칼라 (at)

DataFrame.at

at 함수는 loc 함수와 같이 레이블 기반으로 인덱싱을 하지만,</br>
DataFrame과 Series에 상관없이 하나의 스칼라값에 접근한다는 차이가 존재합니다.</br>

행/열 한쌍에 대한 단일 값에 엑세스합니다.</br>


값 가져오기 : result = df.at['행', '열'] </br>
값 설정하기 : df.at['행', '열'] = value </br>

In [3]:
import pandas as pd
df = pd.DataFrame([[1,2], [3,4]], index=['row1', 'row2'], columns=['col1', 'col2'])
print(df)

      col1  col2
row1     1     2
row2     3     4

In [8]:
result = df.at['row1', 'col2']
print(result)

2

In [10]:
df.at['row2', 'col1'] = '1'
print(df)

      col1  col2
row1     1     2
row2     1     4

In [14]:
df.loc['row2'].at['col2']

4

### 04-02. 레이블기반_데이터 (loc)

DataFrame.loc
loc 함수는 at 함수와 같이 레이블 기반으로 인덱싱을 합니다. DataFrame이나 Series형식으로의 반환이 필요하면 loc를 사용합니다.</br>

기본 사용법</br>
값 가져오기 : result = df.loc['행', '열']</br>
값 설정하기 : df.loc['행', '열'] = value</br>

입력 가능한 Input</br>
1. 레이블 (만약 3을 입력할 경우 정수위치가 아닌 index의 레이블로 해석</br>
2. list 객체 (예 : ['a', 'b', 'c'])</br>
3. 레이블의 슬라이스 객체 (예 : 'b' : 'f')</br>
4. 슬라이싱되는 축과 길이가 같은 bool 배열 (예 : [True, True, False, True])</br>

In [72]:
df = pd.DataFrame([[1,2,3], [4,5,6], [7,8,9]], index=['row1', 'row2', 'row3'], columns=['col1', 'col2', 'col3'])
print(df)

      col1  col2  col3
row1     1     2     3
row2     4     5     6
row3     7     8     9

In [20]:
#단일 레이블을 지정할경우 Series 형태로 반환됩니다.
result = df.loc['row1']
print(result)

col1    1
col2    2
col3    3
Name: row1, dtype: int64

In [28]:
#레이블로 구성된 리스트. [ [ ] ]를 사용하면 DataFrame형태로 반환됩니다.
result = df.loc[ ['row1','row3'] ]
print(result)

      col1  col2  col3
row1     1     2     3
row3     7     8     9

In [27]:
result = df.loc['row2', 'col2']
print(result)

5

In [35]:
result = df.loc['row1' : 'row2', 'col1']
print(result)

row1    1
row2    4
Name: col1, dtype: int64

In [39]:
#bool로 구성된 list를 이용하여 인덱싱을 할 수 있습니다.
bool = [True, True, False] # row2에 대응되는 값만 True
result = df.loc[bool] 
print(result)

      col1  col2  col3
row1     1     2     3
row2     4     5     6

In [41]:
result = df.loc[ df['col3'] > 5 ]
print(result)

      col1  col2  col3
row2     4     5     6
row3     7     8     9

In [42]:
result = df.loc[ df['col3'] > 5, ['col2'] ] 
print(result)

      col2
row2     5
row3     8

In [44]:
#람다함수를 이용하여 인덱싱이 가능합니다. 아래의 경우 col2의 값중 5인 값을 만족하는 행을 반환합니다.
result = df.loc[lambda df : df['col2'] == 5]
print(result)

      col1  col2  col3
row2     4     5     6

In [46]:
df.loc[ ['row1', 'row3'], ['col3'] ] = 'A'
print(df)

      col1  col2 col3
row1     1     2    A
row2     4     5    6
row3     7     8    A

In [69]:
df.loc[ ['row1'] ] = 'A' # 행을 변경할 경우
print(df)

     col1 col2 col3
row1    A    A    A
row2    A    A    A
row3    A    A    A

In [51]:
df.loc[ : , ['col3'] ] = 'B' # 열을 변경할 경우 행을 전체선택 ( : ) 해줍니다.
print(df)

     col1 col2 col3
row1    A    A    B
row2    4    5    B
row3    7    8    B

In [73]:
df.loc[df['col2'] > 3] = 'A'

In [75]:
print(df)

     col1 col2 col3
row1    1    2    3
row2    A    A    A
row3    A    A    A

### 04-03. 정수기반_스칼라 (iat)

DataFrame.iat</br>
iat 함수는 iloc 함수와 같이 정수 기반으로 인덱싱을 합니다.</br>
단일 스칼라값으로 반환하길 원한다면 iat함수를 사용합니다.</br>

기본 사용법</br>
값 가져오기 : result = df.iat['행', '열']</br>
값 설정하기 : df.iat['행', '열'] = value</br>

In [81]:
df = pd.DataFrame([[1,2,3], [4,5,6], [7,8,9]], index=['row1', 'row2', 'row3'], columns=['col1', 'col2', 'col3'])
print(df)

      col1  col2  col3
row1     1     2     3
row2     4     5     6
row3     7     8     9

In [85]:
result = df.iat[0,0]
print(result)

1

In [86]:
df.iat[1,2] = 'A'
print(df)

      col1  col2 col3
row1     1     2    3
row2     4     5    A
row3     7     8    9

### 04-04. 정수기반_데이터 (iloc)

DataFrame.iloc</br>
iloc 함수는 iat 함수와 같이 정수 기반으로 인덱싱을 합니다.</br>
DataFrame이나 Series형식으로의 반환이 필요하면 iloc를 사용합니다.</br>

기본 사용법</br>
값 가져오기 : result = df.iloc['행', '열']</br>
값 설정하기 : df.iloc['행', '열'] = value</br>

가능한 Input</br>
1. 단일 정수값 (예 : 5)</br>
2. 정수로 이루어진 list (예 : [3, 5, 1])</br>
3. 정수 슬라이스 객체 (예 : 2:5 )</br>
4. bool 배열</br>

In [105]:
df = pd.DataFrame([[1,2,3], [4,5,6], [7,8,9],[2,5,6]], index=['row1', 'row2', 'row3','row4'], columns=['col1', 'col2', 'col3'])
print(df)

      col1  col2  col3
row1     1     2     3
row2     4     5     6
row3     7     8     9
row4     2     5     6

In [89]:
result= df.iloc[0]
print(result)

col1    1
col2    2
col3    3
Name: row1, dtype: int64

In [91]:
result= df.iloc[[0,2]]
print(result)

      col1  col2  col3
row1     1     2     3
row3     7     8     9

In [102]:
#끝 인덱스는 가져오려는 범위에 포함되지 않습니다.
result= df.iloc[2:4]# 2~3
print(result)

      col1  col2  col3
row3     7     8     9
row4     2     5     6

In [106]:
bool_list = [True, False, True, False]
result= df.iloc[bool_list]
print(result)

      col1  col2  col3
row1     1     2     3
row3     7     8     9

### 04-05. 앞에서 n행 인덱싱 (head)

DataFrame.head(n=5)</br>

head함수는 Dataframe 객체를 위에서부터 n열 반환하는 함수입니다.</br>
기본값은 5입니다.</br>

기본 사용법</br>
df.head(n=5)</br>

In [110]:
import numpy as np

data = np.random.randint(10,size=(10,10))
df = pd.DataFrame(data=data)
print(df)

   0  1  2  3  4  5  6  7  8  9
0  0  5  9  3  4  1  8  3  9  2
1  9  1  4  6  1  1  6  9  7  8
2  1  2  6  2  0  5  6  1  5  3
3  3  5  7  5  2  4  6  7  1  1
4  2  0  1  7  9  9  7  1  7  3
5  5  2  9  4  9  8  2  9  5  7
6  2  7  0  3  0  8  6  0  2  1
7  8  9  9  1  6  8  3  9  8  1
8  5  8  8  7  2  3  2  6  9  8
9  8  2  3  0  8  7  0  5  0  7

In [111]:
print(df.head(3))

   0  1  2  3  4  5  6  7  8  9
0  0  5  9  3  4  1  8  3  9  2
1  9  1  4  6  1  1  6  9  7  8
2  1  2  6  2  0  5  6  1  5  3

In [113]:
#n=음수 n이 0보다 작으면 DataFrame의 끝에서부터 n개열을 제외하고 반환합니다.
print(df.head(-3))

   0  1  2  3  4  5  6  7  8  9
0  0  5  9  3  4  1  8  3  9  2
1  9  1  4  6  1  1  6  9  7  8
2  1  2  6  2  0  5  6  1  5  3
3  3  5  7  5  2  4  6  7  1  1
4  2  0  1  7  9  9  7  1  7  3
5  5  2  9  4  9  8  2  9  5  7
6  2  7  0  3  0  8  6  0  2  1

In [116]:
check = df.head(3)
print(check.index)

RangeIndex(start=0, stop=3, step=1)

### 04-06. 뒤에서 n행 인덱싱 (tail)

DataFrame.head(n=5)</br>

tail함수는 Dataframe 객체를 아래에서부터 n열 반환하는 함수이다.</br>
기본값은 5이다.</br>

기본 사용법</br>
df.tail(n=5)</br>

In [117]:
data = np.random.randint(10,size=(10,10))
df = pd.DataFrame(data=data)
print(df)

   0  1  2  3  4  5  6  7  8  9
0  1  3  4  9  7  8  0  8  9  6
1  7  7  9  1  3  8  1  3  5  2
2  4  2  3  5  4  5  2  2  8  7
3  3  6  9  8  4  2  5  3  2  0
4  5  4  0  9  1  4  7  4  7  1
5  5  7  0  1  4  3  6  6  5  7
6  4  5  1  9  2  2  3  6  0  4
7  9  8  9  1  4  5  9  6  2  8
8  2  8  1  3  7  8  4  1  8  1
9  5  3  9  0  9  6  8  1  6  7

In [118]:
print(df.tail(3))

   0  1  2  3  4  5  6  7  8  9
7  9  8  9  1  4  5  9  6  2  8
8  2  8  1  3  7  8  4  1  8  1
9  5  3  9  0  9  6  8  1  6  7

In [119]:
print(df.tail(-3))

   0  1  2  3  4  5  6  7  8  9
3  3  6  9  8  4  2  5  3  2  0
4  5  4  0  9  1  4  7  4  7  1
5  5  7  0  1  4  3  6  6  5  7
6  4  5  1  9  2  2  3  6  0  4
7  9  8  9  1  4  5  9  6  2  8
8  2  8  1  3  7  8  4  1  8  1
9  5  3  9  0  9  6  8  1  6  7

In [121]:
check = df.tail(3)
print(check.index)

RangeIndex(start=7, stop=10, step=1)

### 04-07. Multi Index의 경우

In [122]:
index_tuples = [('row1', 'val1'), ('row1', 'val2'), ('row2', 'val1'), ('row2', 'val2'), ('row2', 'val3'), ('row3', 'val2'),('row3', 'val3')]
values = [ [1,2,3], [4,5,6], [7,8,9], [10,11,12], [13,14,15], [16,17,18], [19,20,21]]
index = pd.MultiIndex.from_tuples(index_tuples) # 인덱스 설정
df = pd.DataFrame(values, columns=['col1', 'col2', 'col3'], index = index)
print(df)

           col1  col2  col3
row1 val1     1     2     3
     val2     4     5     6
row2 val1     7     8     9
     val2    10    11    12
     val3    13    14    15
row3 val2    16    17    18
     val3    19    20    21

In [125]:
result = df.loc['row2']
print(result)

      col1  col2  col3
val1     7     8     9
val2    10    11    12
val3    13    14    15

In [126]:
result = df.loc[('row2','val2')]
print(result)

col1    10
col2    11
col3    12
Name: (row2, val2), dtype: int64

In [128]:
result = df.loc[[('row2','val2')]]
print(result)

           col1  col2  col3
row2 val2    10    11    12

In [129]:
result = df.loc[('row2','val2'), 'col3']
print(result)

12

In [130]:
result = df.loc[('row1','val2') : ('row3','val2')] # row1의 val2부터 row3의 val2까지
print(result)

           col1  col2  col3
row1 val2     4     5     6
row2 val1     7     8     9
     val2    10    11    12
     val3    13    14    15
row3 val2    16    17    18