### 05-01. 초과, 미만, 이상, 이하, 같음, 다름 (gt, lt, ge, le, eq, ne)

pandas.DataFrame.gt(other, axis='columns', level=None) >   grater than </br>
pandas.DataFrame.lt(other, axis='columns', level=None) <   less than </br>
pandas.DataFrame.ge(other, axis='columns', level=None) >=  grater equal </br>
pandas.DataFrame.le(other, axis='columns', level=None) <=  less equal </br>
pandas.DataFrame.eq(other, axis='columns', level=None) ==  equal</br>
pandas.DataFrame.ne(other, axis='columns', level=None) !=  not equal</br>

less than, grater than, less equal, grater equal, equal, not equal  </br>

other : 스칼라, 시퀀스, Series, DataFrame, list등이 올 수 있습니다. 비교하고자 하는 값입니다. </br>
axis : {0 : index / 1 : columns} 비교할 레이블 입니다.  </br>
level : 멀티인덱스 사용시 비교할 레이블의 레벨입니다.  </br>

In [3]:
import pandas as pd

col = ['col1','col2','col3']
row = ['A','B','C']
df = pd.DataFrame(data=[[10,20,10],
                        [80,30,60],
                        [20,10,70]],index=row,columns=col)

In [4]:
print(df.eq(10))

    col1   col2   col3
A   True  False   True
B  False  False  False
C  False   True  False

In [6]:
print(df.ne(20))

    col1   col2  col3
A   True  False  True
B   True   True  True
C  False   True  True

In [8]:
# col1에서 10이상, col3에서 30이상이면 True
s1 = pd.Series([10,30],index=["col1","col3"])
print(df.gt(s1))

    col1   col2   col3
A  False  False  False
B   True  False   True
C   True  False   True

In [9]:
# df에는 col4가 없기 때문에 col4가 브로드캐스트 됩니다.
s2 = pd.Series([10],index=["col4"])
print(df.lt(s2))

    col1   col2   col3   col4
A  False  False  False  False
B  False  False  False  False
C  False  False  False  False

In [10]:
# 열 기준으로 비교했을때 각각 10, 20, 30 이하면 True
print(df.le([10,20,30], axis="columns"))

    col1   col2   col3
A   True   True   True
B  False  False  False
C  False   True  False

In [11]:
# 행 기준으로 비교했을때 각각 10,20,30 이하면 True
print(df.le([10,20,30], axis="index"))

    col1   col2   col3
A   True  False   True
B  False  False  False
C   True   True  False

In [12]:
df2 = pd.DataFrame([[50],[50],[50]],index=row,columns=['col1'])
print(df2)

   col1
A    50
B    50
C    50

In [15]:
# col1에 대해서 각각50, 50, 50 이상이면 True
print(df.ge(df2))

    col1   col2   col3
A  False  False  False
B   True  False  False
C  False  False  False

In [17]:
row_mul = [['U','U','U','D','D','D'],['A','B','C','A','B','C']]
df_mul = pd.DataFrame(data=[[10,20,10],
                            [80,30,60],
                            [20,10,70],
                            [30,70,60],
                            [10,90,40],
                            [50,30,80]],index=row_mul,columns=col)
print(df_mul)

     col1  col2  col3
U A    10    20    10
  B    80    30    60
  C    20    10    70
D A    30    70    60
  B    10    90    40
  C    50    30    80

In [19]:
# level=1이기 때문에 A, B, C를 index로하는 두 DataFrame과의 비교처럼
# 진행됩니다.
print(df.ge(df_mul,level=1))

      col1   col2   col3
U A   True   True   True
  B   True   True   True
  C   True   True   True
D A  False  False  False
  B   True  False   True
  C  False  False  False

### 05-02. dtype기반 열 선택 (select_dtyps)

DataFrame.select_dtypes(include=None, exclude=None)

select_dtypes 함수는 열에 포함된 데이터들을 type 기준으로 인덱싱 할 수 있도록 합니다.</br>
select_dtypes(include=None, exclude=None) 형태를 가지며, include에 넣은값을 포함하고
exclude에 넣은 값을 제외한 columns(열)을 DaraFrame 형태로 반환합니다.</br>

기본 사용법
df.dtypes</br>
* include 및 exclude는 비어있거나 겹치면 안되며(에러발생), 스칼라나 list형태의 입력값이 가능합니다.</br>
자료형</br>
1. 숫자형(numeric)은 np.number 또는 'number'</br>
2. 문자형(str)은 'object'</br>
3. 날짜,시간(datetimes)을 선택하려면 np.datetime64, 'datetime' 또는 'datetime64'</br>
4. timedeltas는 np.timedelta64, 'timedelta' or 'timedelta64'</br>
5. Pandas의 categorical 타입은 'category'</br>

In [21]:
col1 = [1, 2, 3, 4, 5]
col2 = ['one', 'two', 'three', 'four', 'five']
col3 = [1.5, 2.5, 3.5, 4.5, 5.5]
col4 = [True, False, False, True, True]
df = pd.DataFrame({"col1": col1, "col2": col2, "col3": col3, "col4": col4})
print(df)

   col1   col2  col3   col4
0     1    one   1.5   True
1     2    two   2.5  False
2     3  three   3.5  False
3     4   four   4.5   True
4     5   five   5.5   True

In [23]:
print(df.dtypes)

col1      int64
col2     object
col3    float64
col4       bool
dtype: object

In [29]:
result = df.select_dtypes(include=[bool,float])
print(result)

   col3   col4
0   1.5   True
1   2.5  False
2   3.5  False
3   4.5   True
4   5.5   True

In [32]:
result = df.select_dtypes(exclude=['int64'])
print(result)

    col2  col3   col4
0    one   1.5   True
1    two   2.5  False
2  three   3.5  False
3   four   4.5   True
4   five   5.5   True

In [33]:
result = df.select_dtypes(include =[float,object], exclude=['int64'])
print(result)

    col2  col3
0    one   1.5
1    two   2.5
2  three   3.5
3   four   4.5
4   five   5.5

### 05-03. 임계값 적용 (clip)

DataFrame.clip(lower=None, upper=None, axis=None, inplace=False, args, kwargs)

clip 메서드는 Series나 DataFrame에 대해서 요소들의 범위를 제한하는 메서드입니다,</br>
즉, 상한선과 하한선을 임계값으로 정해서 임계값 밖의 값을 임계값으로 변경합니다.</br>
NA의 경우 변경하지 않습니다.</br>

lower : 하한값입니다. 이 이하의 값은 이 값으로 변경됩니다.</br>
upper : 상한값입니다. 이 이상의 값은 이 값으로 변경됩니다.</br>
axis : 계산할 기준이되는 레이블입니다.</br>
inplace : 제자리에서 계산할지 여부 입니다.</br>

inplace의 개념은 간단합니다. 우리가 만약 print(df.dropna())로 df에서 NA를 제거한다고 가정해봅니다.</br>
그럼 NA가 사라진 데이터가 출력되겠지만, 다시 print(df)할 경우 df는 변경되어있지 않을 것입니다.</br>
이때 print(df.dropna(inplace=True))를 수행한다면 print(df) 실행 시 df에도 NA가 삭제되어있는것을
확인할 수 있습니다. 물론 dropna뿐만 아니라 clip처럼 inplace 인수를 가진 모든 함수에서 동일합니다.</br>
즉, df.dropna(inplace=True)는 df = df.dropna( )와 같은 효과를 가집니다.</br>

In [34]:
col  = ['col1','col2','col3']
row  = ['row1','row2','row3']
data = [[-7,3,9],
        [6,-8,1],
        [-3,0,-7]]
df = pd.DataFrame(data,row,col)
print(df)

      col1  col2  col3
row1    -7     3     9
row2     6    -8     1
row3    -3     0    -7

In [36]:
print(df.clip(-4,5))

      col1  col2  col3
row1    -4     3     5
row2     5    -4     1
row3    -3     0    -4

In [37]:
s = pd.Series(data=[1,2,3],index=row)
print(s)

row1    1
row2    2
row3    3
dtype: int64

In [40]:
print(df.clip(-s,s,axis=0))

      col1  col2  col3
row1    -1     1     1
row2     2    -2     1
row3    -3     0    -3

### 05-04. 레이블 필터링 (filter)

DataFrame.filter(items=None, like=None, regex=None, axis=None)

filter 메서드는 레이블에 대해서 조건에 맞는 레이블만 필터링하는 메서드입니다.</br>
내용물이 아니라 레이블에 대해서만 필터링하는것을 유의하세요.</br>
특정 레이블을 이름으로 필터링하거나, 포함된 문자열을 통해 필터링하거나, 정규표현식으로 필터링이 가능합니다.</br>
정규표현식(regular expression)의 경우 regex라고도 하며 파이썬에서는 re 메서드가 지원하는 내용과 동일합니다.</br>
※ 정규표현식의경우 웹상에 자료가 방대하므로 이 페이지에서는 설명하지 않겠습니다. 추후 별도 페이지로 생성 예정입니다.</br>

기본 사용법
df.filter(items=None, like=None, regex=None, axis=None)</br>
items : 이름으로 필터링하는 경우입니다. 리스트형태로 입력합니다.</br>
like : str로 필터링합니다. 해당 문자열이 포함된 경우를 반환합니다.</br>
regex : 정규표현식을 이용해 필터링합니다. re.search(regex, label) == True에서 사용되는 경우와 동일합니다.</br>
axis : {0 : index / 1 : columns} 필터링할 레이블입니다. 0은 행, 1은 열 입니다.</br>

In [41]:
col  = ['alpha','beta','gamma','delta','epsilon']
row  = ['sigma','omega','lambda']
data = [[1,2,3,4,5],[6,7,8,9,10],[11,12,13,14,15]]
df = pd.DataFrame(data,row,col)
print(df)

        alpha  beta  gamma  delta  epsilon
sigma       1     2      3      4        5
omega       6     7      8      9       10
lambda     11    12     13     14       15

In [43]:
print(df.filter(items=['alpha','delta']))

        alpha  delta
sigma       1      4
omega       6      9
lambda     11     14

In [44]:
print(df.filter(items=['omega'],axis=0))

       alpha  beta  gamma  delta  epsilon
omega      6     7      8      9       10

In [46]:
print(df.filter(like='ta'))

        beta  delta
sigma      2      4
omega      7      9
lambda    12     14

In [49]:
print(df.filter(regex='[mgn]'))

        gamma  epsilon
sigma       3        5
omega       8       10
lambda     13       15

In [51]:
#정규표현식 ^는 ^뒤에있는 문자로 시작하는 문자열을 말합니다.
print(df.filter(regex='^g'))

        gamma
sigma       3
omega       8
lambda     13

In [53]:
#정규표현식 $는 $앞에있는 문자로 끝나는 문자열을 말합니다.
print(df.filter(regex='a$'))

        alpha  beta  gamma  delta
sigma       1     2      3      4
omega       6     7      8      9
lambda     11    12     13     14

### 05-05. 샘플 추출 (sample)

DataFrame.sample(n=None, frac=None, replace=False, weights=None, random_state=None, axis=None, ignore_index=False)

sample 메서드는 DataFrame이나 Series에서 무작위로 몇개의 값(레이블)을 출력하는 메서드입니다.

n : 추출할 갯수 입니다. replace가 False면 n의 최댓값은 레이블의 갯수를 넘을수 없습니다.</br>
frac : 추출할 비율입니다. 1보다 작은값으로 설정하며(예 : 0.3 이면 30%), n과 동시에 사용할 수 없습니다.</br>
replace : 중복추출의 허용 여부 입니다. True로 하면 중복추출이 가능하며 n의 최댓값이 레이블의 갯수보다 커도 됩니다.</br>
weight : 가중치입니다. 즉 레이블마다 추출될 확률을 지정할 수 있습니다. 합계가 1(100%)이 아닐경우 자동으로 1로 연산합니다.</br>
random_state : 랜덤 추출한 값에 시드를 설정할 수 있습니다. 원하는 값을 설정하면, 항상 같은 결과를 출력합니다.</br>
axis : {0 : index / 1 : columns} 추출할 레이블입니다.</br>
ignore_index : index의 무시 여부입니다. True일경우 출력시 index를 무시하고 숫자로 출력합니다.</br>

In [55]:
col  = ['col1','col2','col3']
row  = ['row1','row2','row3','row4','row5']
data = [[1,2,3],[4,5,6],[7,8,9],[10,11,12],[13,14,15]]
df = pd.DataFrame(data,row,col)
print(df)

      col1  col2  col3
row1     1     2     3
row2     4     5     6
row3     7     8     9
row4    10    11    12
row5    13    14    15

In [57]:
print(df.sample(2))

      col1  col2  col3
row3     7     8     9
row5    13    14    15

In [58]:
print(df.sample(10,replace=True))

      col1  col2  col3
row1     1     2     3
row4    10    11    12
row4    10    11    12
row3     7     8     9
row3     7     8     9
row2     4     5     6
row2     4     5     6
row2     4     5     6
row5    13    14    15
row2     4     5     6

In [59]:
#frac을 통해 전체에대한 추출 비율을 정할 수 있습니다. 
print(df.sample(frac=0.4))

      col1  col2  col3
row4    10    11    12
row3     7     8     9

In [61]:
s = pd.Series(data=[10,10,3,3,1],index=row)
print(s)

row1    10
row2    10
row3     3
row4     3
row5     1
dtype: int64

In [63]:
#weights를 통한 가중치의 사용
print(df.sample(2,weights=s))

      col1  col2  col3
row1     1     2     3
row2     4     5     6

In [64]:
#random_state를 통한 동일값 재출력 허용
print(df.sample(5,random_state=7))

      col1  col2  col3
row1     1     2     3
row4    10    11    12
row3     7     8     9
row2     4     5     6
row5    13    14    15

In [65]:
#ignore_index를 True로 하면 index는 사라지고 순서대로 번호가 부여됩니다.
print(df.sample(3,ignore_index=True))

   col1  col2  col3
0     1     2     3
1     7     8     9
2     4     5     6