### 06-01. 결측값 확인 (isna, isnull, notna, notnull)

DataFrame.isna( )
※ isnull( )과 완전히 동일합니다.</br>

DataFrame.notna( )
※ notnull( )과 완전히 동일합니다.</br>

isna 메서드와 notna 메서드는 DataFrame내의 결측값을 확인해서 bool형식으로 반환하는 메서드입니다.</br>
isna의 경우 결측값이면 True 반환, 정상값이면 False반환이며,
notna의 경우 결측값이면False반환, 정상값이면 True를 반환합니다.</br>

np.inf나 그냥 ' ' 의경우 결측값으로 판단하지 않습니다.</br>

In [4]:
import pandas as pd
import numpy as np

col  = ['col1','col2','col3','col4']
row  = ['row1','row2','row3']
data = [[1,2,pd.NA,4],
        [np.nan,6,7,8],
        [9,10,11,None]]
df = pd.DataFrame(data,row,col)

print(df)

      col1  col2  col3  col4
row1   1.0     2  <NA>   4.0
row2   NaN     6     7   8.0
row3   9.0    10    11   NaN

In [6]:
print(df.isna())

       col1   col2   col3   col4
row1  False  False   True  False
row2   True  False  False  False
row3  False  False  False   True

In [7]:
print(df.notna())

       col1  col2   col3   col4
row1   True  True  False   True
row2  False  True   True   True
row3   True  True   True  False

### 06-02. 결측값 제거 (dropna)

DataFrame.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)

dropna 메서드는 DataFramde내의 결측값이 포함된 레이블을 제거하는 메서드입니다.

axis : {0: index / 1: columns} 결측치 제거를 진행 할 레이블입니다.</br>
how : {'any' : 존재하면 제거 / 'all' : 모두 결측치면 제거} 제거할 유형입니다. 포함만 시켜도 제거할지, 전무 NA여야 제거할지 정할 수 있습니다.</br>
tresh : 결측값이 아닌 값이 몇 개 미만일 경우에만 적용시키는 인수 입니다.</br>
예를들어, tresh값이 3이라면 결측값이 아닌 값이 3개 미만일 경우에만 dropna메서드를 수행합니다.</br>
subset : dropna메서드를 수행할 레이블을 지정합니다.</br>
inplace : 원본을 변경할지의 여부입니다.</br>

In [8]:
col  = ['col1','col2','col3','col4','col5']
row  = ['row1','row2','row3','row4']
data = [[1,2,3,pd.NA,5],[6,pd.NA,8,pd.NA,10],[11,12,13,14,15],[pd.NA,pd.NA,pd.NA,pd.NA,pd.NA]]
df = pd.DataFrame(data,row,col)
print(df)

      col1  col2  col3  col4  col5
row1     1     2     3  <NA>     5
row2     6  <NA>     8  <NA>    10
row3    11    12    13    14    15
row4  <NA>  <NA>  <NA>  <NA>  <NA>

In [10]:
#axis=0인 경우 결측치가 포함된 모든 행이 제거되었습니다.
print(df.dropna(axis=0))

     col1 col2 col3 col4 col5
row3   11   12   13   14   15

In [12]:
#axis=1인 경우 결측치가 포함된 모든 열이 제거
print(df.dropna(axis=1))

Empty DataFrame
Columns: []
Index: [row1, row2, row3, row4]

In [13]:
#기본적으로 how 는 'any'이며 이 경우 한 값이라도 NA를 가진다면 해당 레이블을 제거합니다.
print(df.dropna(how='any'))

     col1 col2 col3 col4 col5
row3   11   12   13   14   15

In [14]:
#how를 'all'로 할 경우 모든값이 NA인 레이블만 삭제됩니다.
print(df.dropna(how='all'))

     col1  col2 col3  col4 col5
row1    1     2    3  <NA>    5
row2    6  <NA>    8  <NA>   10
row3   11    12   13    14   15

In [15]:
#thresh가 3일 경우 정상값이 3개 미만인 경우에 대해서만 결측치 보정을 진행합니다.
print(df.dropna(thresh=3))

     col1  col2 col3  col4 col5
row1    1     2    3  <NA>    5
row2    6  <NA>    8  <NA>   10
row3   11    12   13    14   15

In [16]:
print(df.dropna(thresh=4))

     col1 col2 col3  col4 col5
row1    1    2    3  <NA>    5
row3   11   12   13    14   15

In [18]:
#subset에 리스트형태의 값을 입력함으로써 결측치 제거를 수행할 레이블을 지정할 수 있습니다.
print(df.dropna(subset=['col1','col2']))

     col1 col2 col3  col4 col5
row1    1    2    3  <NA>    5
row3   11   12   13    14   15

In [20]:
#Pandas에서 공통적으로 inplace 인수는 원본의 수정을 의미합니다. inplace가 True인 경우 원본이 수정됩니다.
df.dropna(inplace=True)
print(df)

     col1 col2 col3 col4 col5
row3   11   12   13   14   15

### 06-03. 결측값 없는 인덱스 확인 (first_valid_index / last_valid_index)

DataFrame.first_valid_index( )
DataFrame.last_valid_index( )

first_valid_index메서드의 경우 처음으로 결측치가 아닌값이 나오는 행의 인덱스를 출력합니다.</br>
last_valid_index메서드의 경우 마지막으로 결측치가 아닌값이 나오는 행의 인덱스를 출력합니다.</br>

In [22]:
col  = ['col1','col2']
row  = ['row1','row2','row3','row4','row5']
data = [[np.nan,np.nan],[pd.NA,4],[pd.NA,pd.NaT],[5,6],[np.nan,pd.NA]]
df = pd.DataFrame(data,row,col)
print(df)

      col1  col2
row1   NaN   NaN
row2  <NA>     4
row3  <NA>   NaT
row4     5     6
row5   NaN  <NA>

In [23]:
#first_valid_index메서드의 경우 처음으로 결측치가 아닌값이 나오는 행의 인덱스를 출력합니다.
print(df.first_valid_index())

row2

In [25]:
#last_valid_index메서드의 경우 마지막으로 결측치가 아닌값이 나오는 행의 인덱스를 출력합니다.
print(df.last_valid_index())

row4

### 06-04. 결측값 변경 (fillna / backfill / bfill / pad / ffill)

DataFrame.fillna(value=None, method=None, axis=None, inplace=False, limit=None, downcast=None)

DataFrame.backfill( ) / DataFrame.bfill : DataFrame.fillna(mathod='bfill')과 동일합니다.</br>
DataFrame.pad / DataFrame.ffill : DataFrame.fillna(method='ffill')과 동일합니다.</br>

value : 결측값을 대체할 값입니다. dict형태로도 가능합니다.</br>
method : 결측값을 변경할 방식입니다. bfill로 할경우 결측값을 바로 아래 값과 동일하게 변경합니다.</br>
ffill로 할 경우 결측값을 바로 위 값과 동일하게 변경합니다.</br>
axis : {0 : index / 1 : columns} fillna 메서드를 적용할 레이블입니다.</br>
inplace : 원본을 변경할지 여부입니다. True일 경우 원본을 변경하게 됩니다.</br>
limit : 결측값을 변경할 횟수입니다. 위에서부터 limit로 지정된 갯수만큼만 변경합니다.</br>
downcast : 다운캐스트할지 여부입니다. downcast='infer'일 경우 float64를 int64로 변경합니다.</br>

In [27]:
col  = ['col1','col2','col3','col4','col5']
row  = ['row1','row2','row3','row4','row5']
na = np.nan
data = [[na, 2,na, 4,na],
        [ 6, 7,na, 9,na],
        [11,na,na,14,15],
        [na,17,na,na,20],
        [na,22,na,na,25]]
df = pd.DataFrame(data,row,col)
print(df)

      col1  col2  col3  col4  col5
row1   NaN   2.0   NaN   4.0   NaN
row2   6.0   7.0   NaN   9.0   NaN
row3  11.0   NaN   NaN  14.0  15.0
row4   NaN  17.0   NaN   NaN  20.0
row5   NaN  22.0   NaN   NaN  25.0

In [29]:
print(df.fillna('A'))

      col1  col2 col3  col4  col5
row1     A   2.0    A   4.0     A
row2   6.0   7.0    A   9.0     A
row3  11.0     A    A  14.0  15.0
row4     A  17.0    A     A  20.0
row5     A  22.0    A     A  25.0

In [30]:
dict = {'col1':'A','col2':'B','col3':'C','col4':'D','col5':'E'}
print(df.fillna(value=dict))

      col1  col2 col3  col4  col5
row1     A   2.0    C   4.0     E
row2   6.0   7.0    C   9.0     E
row3  11.0     B    C  14.0  15.0
row4     A  17.0    C     D  20.0
row5     A  22.0    C     D  25.0

In [31]:
#바로 아래값과 동일하게 설정됩니다.
print(df.fillna(method='bfill'))

      col1  col2  col3  col4  col5
row1   6.0   2.0   NaN   4.0  15.0
row2   6.0   7.0   NaN   9.0  15.0
row3  11.0  17.0   NaN  14.0  15.0
row4   NaN  17.0   NaN   NaN  20.0
row5   NaN  22.0   NaN   NaN  25.0

In [33]:
#위값과 동일하게 설정됩니다.
print(df.fillna(method='ffill'))

      col1  col2  col3  col4  col5
row1   NaN   2.0   NaN   4.0   NaN
row2   6.0   7.0   NaN   9.0   NaN
row3  11.0   7.0   NaN  14.0  15.0
row4  11.0  17.0   NaN  14.0  20.0
row5  11.0  22.0   NaN  14.0  25.0

In [35]:
#limit인수는 각 레이블값에 대해서 결측치 변경을 수행할 횟수입니다.
print(df.fillna('A', limit=2))

      col1  col2 col3  col4  col5
row1     A   2.0    A   4.0     A
row2   6.0   7.0    A   9.0     A
row3  11.0     A  NaN  14.0  15.0
row4     A  17.0  NaN     A  20.0
row5   NaN  22.0  NaN     A  25.0

In [36]:
#downcast 인수를 'infer'로 설정함으로써 float64형태를 int64형태로 변경할 수 있습니다.
print(df.fillna(0, downcast='infer'))

      col1  col2  col3  col4  col5
row1     0     2     0     4     0
row2     6     7     0     9     0
row3    11     0     0    14    15
row4     0    17     0     0    20
row5     0    22     0     0    25

In [38]:
#inplace는 원본을 덮어씌우는 기능과 유사한 기능알 합니다.
df.fillna('A',inplace=True)
print(df)

      col1  col2 col3  col4  col5
row1     A   2.0    A   4.0     A
row2   6.0   7.0    A   9.0     A
row3  11.0     A    A  14.0  15.0
row4     A  17.0    A     A  20.0
row5     A  22.0    A     A  25.0

### 06-05. 결측값 없는 마지막 행 반환 (asof)

DataFrame.asof(where, subset=None)

asof 메서드는 인덱스 기준으로 where이전에 결측치가 없는 마지막 행을 구합니다.</br>

where : 기준이 되는 인덱스 값입니다.</br>
subset : 기준이 되는 열 입니다.</br>

In [41]:
row = [10,20,30,40,50,60]
data = {'A':[1,na,na,4,5,6],'B':[7,8,9,10,na,12]}
df = pd.DataFrame(data=data, index = row)
print(df)

      A     B
10  1.0   7.0
20  NaN   8.0
30  NaN   9.0
40  4.0  10.0
50  5.0   NaN
60  6.0  12.0

In [42]:
print(df.asof(where=45))

A     4.0
B    10.0
Name: 45, dtype: float64

In [44]:
print(df.asof(where=[10,45,60]))

      A     B
10  1.0   7.0
45  4.0  10.0
60  6.0  12.0

In [45]:
print(df.asof(where=[10,35,60],subset='A'))

      A     B
10  1.0   7.0
35  1.0   7.0
60  6.0  12.0

In [46]:
print(df.asof(where=[10,35,60],subset='B'))

      A     B
10  1.0   7.0
35  NaN   9.0
60  6.0  12.0